# Node
dist/
build/
node_modules/

# PhpStorm
.idea/

# Electron
/electron/out/
/electron/dist/
/electron/node_modules/

# Capacitor
capacitor/dist/
capacitor/node_modules/
/capacitor/www/
/capacitor//ios/
/capacitor/android/

# Gradle and Android Studio
*.iml
.gradle/
local.properties

# Logs
npm-debug.log*
yarn-error.log*

# Junk
*.swp
*.swo
.DS_Store
Thumbs.db